.u-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

[class*="u-col-"] {
  position: relative;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.u-col-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
.u-col-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
.u-col-3 { flex: 0 0 25%; max-width: 25%; }
.u-col-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
.u-col-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
.u-col-6 { flex: 0 0 50%; max-width: 50%; }
.u-col-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
.u-col-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
.u-col-9 { flex: 0 0 75%; max-width: 75%; }
.u-col-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
.u-col-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
.u-col-12 { flex: 0 0 100%; max-width: 100%; }

@media (--mq-tablet) {
  .u-col-md-1 { flex: 0 0 8.333333%; max-width: 8.333333%; }
  .u-col-md-2 { flex: 0 0 16.666667%; max-width: 16.666667%; }
  .u-col-md-3 { flex: 0 0 25%; max-width: 25%; }
  .u-col-md-4 { flex: 0 0 33.333333%; max-width: 33.333333%; }
  .u-col-md-5 { flex: 0 0 41.666667%; max-width: 41.666667%; }
  .u-col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .u-col-md-7 { flex: 0 0 58.333333%; max-width: 58.333333%; }
  .u-col-md-8 { flex: 0 0 66.666667%; max-width: 66.666667%; }
  .u-col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .u-col-md-10 { flex: 0 0 83.333333%; max-width: 83.333333%; }
  .u-col-md-11 { flex: 0 0 91.666667%; max-width: 91.666667%; }
  .u-col-md-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (--mq-phone) {
  .u-col-sm-12 { flex: 0 0 100%; max-width: 100%; }
}
