.u-container {
  @extend %u-container;
}

.u-sr-only {
  @extend %u-sr-only;
}

.u-text {
  @extend %u-text;
}

.u-heading {
  @extend %u-heading;
}

.u-flex {
  display: flex;
}

.u-flex-column {
  display: flex;
  flex-direction: column;
}

.u-align-center {
  align-items: center;
}

.u-justify-between {
  justify-content: space-between;
}

.u-justify-center {
  justify-content: center;
}
